* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.Header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 27%;
  justify-content: space-between;
  .ButtonChangeLanguage {
    background-color: white;
    border: solid 2px;
    border-radius: 24px;
    padding: 10px 15px;
    display: inline-block;
    button {
      font-size: 20px;
      background: transparent;
      padding: 5px;
      border: none;
      font-weight: 600;
    }
    & .active {
      color: rgb(1, 157, 161);
    }
  }
  h2 {
    margin-left: 50px;
    font-size: 32px;
    font-weight: 400;
  }
}

.Background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.Main {
  height: 90vh;
  width: 100%;
  .inner {
    text-align: center;
    width: 45%;
    margin: 22vh auto;
    a {
      color: #000;
    }
    .BeforeBeginning {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        padding-top: 20px;
        border: solid 2px;
        border-radius: 20px;
        height: 70px;
        width: 400px;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
      }
      .Timer {
        font-size: 40px;
      }
    }
    h2 {
      font-size: 130px;
    }
    .apply {
      padding-top: 20px;
      text-align: center;
      height: 70px;
      width: 100%;
      border: solid 2px;
      border-radius: 20px;
      font-size: 36px;
    }
  }
}

.HackathonDesctiption {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .MainInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .MainHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
  }

  .MainHeadTitle {
    color: rgb(31, 57, 44);
    font-family: "Roboto";
    font-size: 48px;
    line-height: 58px;
    display: inline-block;
    padding-bottom: 33px;
  }

  .MainHeadDescription {
    color: rgb(3, 3, 4);
    font-family: "Roboto";
    font-size: 32px;
    line-height: 38px;
    display: block;
    background-color: #fff;
  }

  .MainListInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding-bottom: 40px;
    .MainInfoItem {
      display: flex;
      column-gap: 35px;
      align-items: center;
    }
  }

  .InfoItemTitle {
    color: rgb(31, 57, 44);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  .InfoItemDescription {
    color: rgb(31, 57, 44);
    font-family: "Roboto";
    font-size: 24px;
    line-height: 29px;
  }

  .SaraImg {
    position: absolute;
    width: 1709.32px;
    height: 805.45px;
    left: -850px;
    top: 100px;
    transform: rotate(45deg);
  }
}

.slider {
  width: 100%;
  .inner {
    text-align: center;
    width: 70%;
    margin: 15vh auto;
    font-weight: 400;
    font-size: 48px;
    h4 {
      font-family: "Roboto";
      font-size: 90px;
      font-weight: 400;
    }
    .directions {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      .direction {
        background-position: center center;
        background-size: cover;
        width: 110px;
        height: 600px;
        border-radius: 30px;
        transition: 1s;
        position: relative;
        .description {
          transition: 1s;
          bottom: 0;
          width: 100%;
          height: 120px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 0 0 30px 30px;
          p {
            transition: 0.5s;
            font-size: 0px;
            opacity: 0;
            color: white;
          }
          img {
            display: block;
          }
        }
      }
      & .dir0 {
        background-image: url(../public/assets/first.jpg);
        .description {
          background: #c63252;
        }
      }
      & .dir1 {
        background-image: url(../public/assets/second.jpg);
        .description {
          background: #8c32a2;
        }
      }
      & .dir2 {
        background-image: url(../public/assets/direction.png);
        .description {
          background: rgba(1, 157, 161);
        }
      }
      & .dir3 {
        background-image: url(../public/assets/four.jpg);
        .description {
          background: #2e1d67;
        }
      }
      & .dir4 {
        background-image: url(../public/assets/five.jpg);
        .description {
          background: #eccb43;
        }
      }
      & .dir5 {
        background-image: url(../public/assets/six.jpg);
        .description {
          background: #b6b2cd;
        }
      }
      & .active {
        width: 600px;
        .description {
          backdrop-filter: blur(10px);
          opacity: 0.9;
          p {
            color: white;
            font-size: 32px;
            opacity: 1;
            transition: 1s;
            display: inline;
          }
          img {
            display: none;
          }
        }
      }
    }
  }
}

.DescriptionDirections {
  width: 100%;
  .inner {
    margin: auto;
    width: 80%;
    text-align: center;
    h3 {
      color: #00a69c;
      font-size: 90px;
    }
    .discriptionBlocks {
      margin-top: 150px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .discriptionBlockItem {
        position: relative;
        text-align: left;
        border-radius: 35px;
        width: 500px;
        height: 500px;
        font-weight: 400;
        background-color: #79cbc6;
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        p {
          padding: 50px;
        }
        a {
          position: absolute;
          bottom: 30px;
          width: 250px;
          height: 60px;
          border: none;
          border-radius: 11px;
          background-color: white;
          color: #00a69c;
          font-size: 24px;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .SaraImg {
    display: none;
  }

  .MainHeadTitle {
    font-size: 32px;
    line-height: 20px;
  }

  .MainHeadDescription {
    font-size: 24px;
    line-height: 25px;
  }

  .InfoItemTitle {
    font-size: 28px;
    line-height: 30px;
  }

  .InfoItemDescription {
    font-size: 16px;
    line-height: 20px;
  }

  .MainInfoItem {
    justify-content: center;
    align-items: center;
  }

  .InfoItemImg {
    width: 418px;
    height: 415px;
  }
}

@media (max-width: 800px) {
  .MainHeadTitle {
    font-size: 26px;
    line-height: 15px;
  }

  .MainHeadDescription {
    font-size: 18px;
    line-height: 25px;
  }

  .InfoItemTitle {
    font-size: 24px;
    line-height: 25px;
    padding-bottom: 5px;
  }

  .InfoItemDescription {
    font-size: 12px;
    line-height: 16px;
  }

  .MainInfoItem {
    row-gap: 20px;
  }

  .InfoItemImg {
    width: 318px;
    height: 315px;
  }

  .MainLine {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .MainHeadTitle {
    font-size: 22px;
    line-height: 10px;
  }

  .MainHeadDescription {
    font-size: 14px;
    line-height: 18px;
  }

  .InfoItemTitle {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;
  }

  .InfoItemDescription {
    font-size: 12px;
    line-height: 12px;
  }

  .MainInfoItem {
    row-gap: 15px;
  }

  .InfoItemImg {
    width: 218px;
    height: 215px;
  }
}

@media (max-width: 500px) {
  .MainHeadTitle {
    font-size: 16px;
    line-height: 8px;
  }

  .MainHeadDescription {
    font-size: 12px;
    line-height: 14px;
  }

  .InfoItemTitle {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .InfoItemDescription {
    font-size: 8px;
  }

  .InfoItemImg {
    width: 118px;
    height: 115px;
  }

  .MainLine {
    width: 350px;
  }
}

.Footer {
  .container {
    width: 80%;
    margin: auto;
    margin-top: 30vh;
    .FooterInner {
      padding: 60px 55px;
    }

    .FooterList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 60px 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgb(216, 216, 216);
      border-top: 1px solid rgb(216, 216, 216);
    }

    .FooterSup {
      color: rgb(217, 217, 217);
      font-family: "Inter";
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      padding-top: 265px;
      text-align: center;
    }
  }
}
