* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

.Header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 27%;
  justify-content: space-between;
  .ButtonChangeLanguage {
    background-color: white;
    border: solid 2px;
    border-radius: 24px;
    padding: 10px 15px;
    display: inline-block;
    button {
      font-size: 20px;
      background: transparent;
      padding: 5px;
      border: none;
      font-weight: 600;
    }
    & .active {
      color: rgb(1, 157, 161);
    }
  }
  h2 {
    margin-left: 50px;
    font-size: 32px;
    font-weight: 400;
  }
}

.Main {
  width: 100%;

  .inner {
    text-align: center;
    width: 45%;
    margin: 15vh auto;
    .BeforeBeginning {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        padding-top: 20px;
        border: solid 2px;
        border-radius: 20px;
        height: 70px;
        width: 400px;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
      }
      .Timer {
        font-size: 40px;
      }
    }
    h2 {
      font-size: 130px;
    }
    .apply {
      padding-top: 20px;
      text-align: center;
      height: 70px;
      width: 100%;
      border: solid 2px;
      border-radius: 20px;
      font-size: 36px;
    }
  }
}

.slider {
  width: 100%;
  .inner {
    text-align: center;
    width: 70%;
    margin: 15vh auto;
    font-weight: 400;
    font-size: 48px;
    .directions {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      .direction {
        // background-image: url(../public/img/direction.png);
        background-position: center center;
        background-size: cover;
        width: 110px;
        height: 600px;
        border-radius: 30px;
        transition: 1s;
        position: relative;
        .description {
          transition: 1s;
          bottom: 0;
          width: 100%;
          height: 120px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(1, 157, 161);
          border-radius: 0 0 30px 30px;
          p {
            transition: 0.5s;
            font-size: 0px;
            opacity: 0;
            color: white;
          }
          img {
            display: block;
          }
        }
      }
      & .dir0 {
        background-image: url(../public/img/first.jpg);
      }
      & .dir1 {
        background-image: url(../public/img/second.jpg);
      }
      & .dir2 {
        background-image: url(../public/img/direction.png);
      }
      & .dir3 {
        background-image: url(../public/img/four.jpg);
      }
      & .dir4 {
        background-image: url(../public/img/five.jpg);
      }
      & .dir5 {
        background-image: url(../public/img/six.jpg);
      }
      & .active {
        width: 600px;
        .description {
          backdrop-filter: blur(10px);
          background: rgba(1, 157, 161, 0.5);
          p {
            color: white;
            font-size: 32px;
            opacity: 1;
            transition: 1s;
            display: inline;
          }
          img {
            display: none;
          }
        }
      }
    }
  }
}

.DescriptionDirections {
  width: 100%;
  .inner {
    margin: auto;
    width: 80%;
    text-align: center;
    h3 {
      color: #00a69c;
      font-size: 90px;
    }
    .discriptionBlocks {
      margin-top: 150px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .discriptionBlockItem {
        position: relative;
        text-align: left;
        border-radius: 35px;
        width: 500px;
        height: 500px;
        font-weight: 400;
        background-color: #79cbc6;
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        p {
          padding: 50px;
        }
        a {
          position: absolute;
          bottom: 30px;
          width: 250px;
          height: 60px;
          border: none;
          border-radius: 11px;
          background-color: white;
          color: #00a69c;
          font-size: 24px;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }
  }
}
