* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.Header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 27%;
  justify-content: space-between;
}
.Header .ButtonChangeLanguage {
  background-color: white;
  border: solid 2px;
  border-radius: 24px;
  padding: 10px 15px;
  display: inline-block;
}
.Header .ButtonChangeLanguage button {
  font-size: 20px;
  background: transparent;
  padding: 5px;
  border: none;
  font-weight: 600;
}
.Header .ButtonChangeLanguage .active {
  color: rgb(1, 157, 161);
}
.Header h2 {
  margin-left: 50px;
  font-size: 32px;
  font-weight: 400;
}

.Main {
  width: 100%;
}
.Main .inner {
  text-align: center;
  width: 45%;
  margin: 15vh auto;
}
.Main .inner .BeforeBeginning {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Main .inner .BeforeBeginning .title {
  padding-top: 20px;
  border: solid 2px;
  border-radius: 20px;
  height: 70px;
  width: 400px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
.Main .inner .BeforeBeginning .Timer {
  font-size: 40px;
}
.Main .inner h2 {
  font-size: 130px;
}
.Main .inner .apply {
  padding-top: 20px;
  text-align: center;
  height: 70px;
  width: 100%;
  border: solid 2px;
  border-radius: 20px;
  font-size: 36px;
}

.slider {
  width: 100%;
}
.slider .inner {
  text-align: center;
  width: 70%;
  margin: 15vh auto;
  font-weight: 400;
  font-size: 48px;
}
.slider .inner .directions {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.slider .inner .directions .direction {
  background-position: center center;
  background-size: cover;
  width: 110px;
  height: 600px;
  border-radius: 30px;
  transition: 1s;
  position: relative;
}
.slider .inner .directions .direction .description {
  transition: 1s;
  bottom: 0;
  width: 100%;
  height: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 30px 30px;
}
.slider .inner .directions .direction .description p {
  transition: 0.5s;
  font-size: 0px;
  opacity: 0;
  color: white;
}
.slider .inner .directions .direction .description img {
  display: block;
}
.slider .inner .directions .dir0 {
  background-image: url(../public/assets/img/first.jpg);
}
.slider .inner .directions .dir0 .description {
  background: #c63252;
}
.slider .inner .directions .dir1 {
  background-image: url(../public/assets/img/second.jpg);
}
.slider .inner .directions .dir1 .description {
  background: #8c32a2;
}
.slider .inner .directions .dir2 {
  background-image: url(../public/assets/img/direction.png);
}
.slider .inner .directions .dir2 .description {
  background: rgb(1, 157, 161);
}
.slider .inner .directions .dir3 {
  background-image: url(../public/assets/img/four.jpg);
}
.slider .inner .directions .dir3 .description {
  background: #2e1d67;
}
.slider .inner .directions .dir4 {
  background-image: url(../public/assets/img/five.jpg);
}
.slider .inner .directions .dir4 .description {
  background: #eccb43;
}
.slider .inner .directions .dir5 {
  background-image: url(../public/assets/img/six.jpg);
}
.slider .inner .directions .dir5 .description {
  background: #b6b2cd;
}
.slider .inner .directions .active {
  width: 600px;
}
.slider .inner .directions .active .description {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.9;
}
.slider .inner .directions .active .description p {
  color: white;
  font-size: 32px;
  opacity: 1;
  transition: 1s;
  display: inline;
}
.slider .inner .directions .active .description img {
  display: none;
}

.DescriptionDirections {
  width: 100%;
}
.DescriptionDirections .inner {
  margin: auto;
  width: 80%;
  text-align: center;
}
.DescriptionDirections .inner h3 {
  color: #00a69c;
  font-size: 90px;
}
.DescriptionDirections .inner .discriptionBlocks {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.DescriptionDirections .inner .discriptionBlocks .discriptionBlockItem {
  position: relative;
  text-align: left;
  border-radius: 35px;
  width: 500px;
  height: 500px;
  font-weight: 400;
  background-color: #79cbc6;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.DescriptionDirections .inner .discriptionBlocks .discriptionBlockItem p {
  padding: 50px;
}
.DescriptionDirections .inner .discriptionBlocks .discriptionBlockItem a {
  position: absolute;
  bottom: 30px;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 11px;
  background-color: white;
  color: #00a69c;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}/*# sourceMappingURL=style.css.map */