* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.Header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 27%;
  justify-content: space-between;
}
.Header .ButtonChangeLanguage {
  background-color: white;
  border: solid 2px;
  border-radius: 24px;
  padding: 10px 15px;
  display: inline-flex;
}
.Header .ButtonChangeLanguage button {
  font-size: 20px;
  background: transparent;
  padding: 5px;
  border: none;
  font-weight: 600;
}
.Header .ButtonChangeLanguage .active {
  color: rgb(1, 157, 161);
}
.Header h2 {
  margin-left: 50px;
  font-size: 32px;
  font-weight: 400;
}

.Background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.Main {
  height: 90vh;
  width: 100%;
}
.Main .inner {
  text-align: center;
  width: 45%;
  margin: 22vh auto;
}
.Main .inner a {
  color: #000;
}
.Main .inner .BeforeBeginning {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Main .inner .BeforeBeginning .title {
  padding-top: 20px;
  border: solid 2px;
  border-radius: 20px;
  height: 70px;
  width: 400px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
.Main .inner .BeforeBeginning .Timer {
  font-size: 40px;
}
.Main .inner h2 {
  font-size: 130px;
}
.Main .inner .apply {
  padding-top: 20px;
  text-align: center;
  height: 70px;
  width: 100%;
  border: solid 2px;
  border-radius: 20px;
  font-size: 36px;
}

.HackathonDesctiption .container {
  max-width: 50%;
  margin: 0 auto;
}
.HackathonDesctiption .MainInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HackathonDesctiption .MainHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.HackathonDesctiption .MainHeadTitle {
  color: rgb(31, 57, 44);
  font-family: "Roboto";
  font-size: 48px;
  line-height: 58px;
  display: inline-block;
  padding-bottom: 33px;
}
.HackathonDesctiption .MainHeadDescription {
  color: rgb(3, 3, 4);
  font-family: "Roboto";
  font-size: 32px;
  line-height: 38px;
  display: block;
  background-color: #fff;
}
.HackathonDesctiption .MainListInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding-bottom: 40px;
}
.HackathonDesctiption .MainListInfo .MainInfoItem {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
}
.HackathonDesctiption .InfoItemTitle {
  color: rgb(31, 57, 44);
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.HackathonDesctiption .InfoItemDescription {
  color: rgb(31, 57, 44);
  font-family: "Roboto";
  font-size: 24px;
  line-height: 29px;
}
.HackathonDesctiption .SaraImg {
  position: absolute;
  width: 1709.32px;
  height: 805.45px;
  left: -850px;
  top: 100px;
  transform: rotate(45deg);
}

.slider {
  width: 100%;
}
.slider .inner {
  text-align: center;
  width: 70%;
  margin: 15vh auto;
  font-weight: 400;
  font-size: 48px;
}
.slider .inner h4 {
  font-family: "Roboto";
  font-size: 90px;
  font-weight: 400;
}
.slider .inner .directions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.slider .inner .directions .direction {
  background-position: center center;
  background-size: cover;
  width: 110px;
  height: 600px;
  border-radius: 30px;
  transition: 1s;
  position: relative;
}
.slider .inner .directions .direction .description {
  transition: 1s;
  bottom: 0;
  width: 100%;
  height: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 30px 30px;
}
.slider .inner .directions .direction .description p {
  transition: 0.5s;
  font-size: 0px;
  opacity: 0;
  color: white;
}
.slider .inner .directions .direction .description img {
  display: block;
}
.slider .inner .directions .dir0 {
  background-image: url(../public/assets/first.jpg);
}
.slider .inner .directions .dir0 .description {
  background: #c63252;
}
.slider .inner .directions .dir1 {
  background-image: url(../public/assets/second.jpg);
}
.slider .inner .directions .dir1 .description {
  background: #8c32a2;
}
.slider .inner .directions .dir2 {
  background-image: url(../public/assets/direction.png);
}
.slider .inner .directions .dir2 .description {
  background: rgb(1, 157, 161);
}
.slider .inner .directions .dir3 {
  background-image: url(../public/assets/four.jpg);
}
.slider .inner .directions .dir3 .description {
  background: #2e1d67;
}
.slider .inner .directions .dir4 {
  background-image: url(../public/assets/five.jpg);
}
.slider .inner .directions .dir4 .description {
  background: #eccb43;
}
.slider .inner .directions .dir5 {
  background-image: url(../public/assets/six.jpg);
}
.slider .inner .directions .dir5 .description {
  background: #b6b2cd;
}
.slider .inner .directions .active {
  width: 600px;
}
.slider .inner .directions .active .description {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.9;
}
.slider .inner .directions .active .description p {
  color: white;
  font-size: 32px;
  opacity: 1;
  transition: 1s;
  display: inline;
}
.slider .inner .directions .active .description img {
  display: none;
}

.DescriptionDirections {
  width: 100%;
}
.DescriptionDirections .inner {
  margin: auto;
  width: 80%;
  text-align: center;
}
.DescriptionDirections .inner h3 {
  color: #00a69c;
  font-size: 90px;
}
.DescriptionDirections .inner .discriptionBlocks {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
.DescriptionDirections .inner .discriptionBlocks .discriptionBlockItem {
  position: relative;
  text-align: left;
  border-radius: 35px;
  width: 500px;
  height: 500px;
  font-weight: 400;
  background-color: #79cbc6;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.DescriptionDirections .inner .discriptionBlocks .discriptionBlockItem p {
  padding: 50px;
}
.DescriptionDirections .inner .discriptionBlocks .discriptionBlockItem a {
  position: absolute;
  bottom: 30px;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 11px;
  background-color: white;
  color: #00a69c;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Footer .container {
  width: 80%;
  margin: auto;
  margin-top: 30vh;
}
.Footer .container .FooterInner {
  padding: 60px 55px;
}
.Footer .container .FooterList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(216, 216, 216);
  border-top: 1px solid rgb(216, 216, 216);
}
.Footer .container .FooterSup {
  color: rgb(217, 217, 217);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 265px;
  text-align: center;
}

@media (max-width: 1800px) {
  .Main .inner .BeforeBeginning h1 {
    font-size: 70px;
  }
  .Main .inner .BeforeBeginning .title {
    font-size: 30px;
  }
  .Main .inner h2 {
    font-size: 110px;
  }
}
@media (max-width: 1500px) {
  .Main .inner .BeforeBeginning h1 {
    font-size: 50px;
  }
  .Main .inner .BeforeBeginning .title {
    width: 300px;
    font-size: 25px;
    height: 60px;
  }
  .Main .inner h2 {
    font-size: 80px;
  }
  .slider .inner {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .Main .inner .BeforeBeginning h1 {
    font-size: 50px;
  }
  .Main .inner .BeforeBeginning .title {
    font-size: 20px;
    width: 200px;
    height: 50px;
  }
  .Main .inner h2 {
    font-size: 60px;
  }
  .SaraImg {
    display: none;
  }
  .MainHeadTitle {
    font-size: 32px;
    line-height: 20px;
  }
  .MainHeadDescription {
    font-size: 24px;
    line-height: 25px;
  }
  .InfoItemTitle {
    font-size: 28px;
    line-height: 30px;
  }
  .InfoItemDescription {
    font-size: 16px;
    line-height: 20px;
  }
  .MainInfoItem {
    justify-content: center;
    align-items: center;
  }
  .InfoItemImg {
    width: 418px;
    height: 415px;
  }
}
@media (max-width: 800px) {
  .MainHeadTitle {
    font-size: 26px;
    line-height: 15px;
  }
  .MainHeadDescription {
    font-size: 18px;
    line-height: 25px;
  }
  .InfoItemTitle {
    font-size: 24px;
    line-height: 25px;
    padding-bottom: 5px;
  }
  .InfoItemDescription {
    font-size: 12px;
    line-height: 16px;
  }
  .MainInfoItem {
    row-gap: 20px;
  }
  .InfoItemImg {
    width: 318px;
    height: 315px;
  }
  .MainLine {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .MainHeadTitle {
    font-size: 22px;
    line-height: 10px;
  }
  .MainHeadDescription {
    font-size: 14px;
    line-height: 18px;
  }
  .InfoItemTitle {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;
  }
  .InfoItemDescription {
    font-size: 12px;
    line-height: 12px;
  }
  .MainInfoItem {
    row-gap: 15px;
  }
  .InfoItemImg {
    width: 218px;
    height: 215px;
  }
}
@media (max-width: 500px) {
  .MainHeadTitle {
    font-size: 16px;
    line-height: 8px;
  }
  .MainHeadDescription {
    font-size: 12px;
    line-height: 14px;
  }
  .InfoItemTitle {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .InfoItemDescription {
    font-size: 8px;
  }
  .InfoItemImg {
    width: 118px;
    height: 115px;
  }
  .MainLine {
    width: 350px;
  }
}/*# sourceMappingURL=style.css.map */